* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy]{
    position: relative;
    border: 5px solid rgb(0, 140, 255);
    height: 100%;
    width: 100%;
    margin: 15px;
    background-image: url('/imgs/ParoquiaSantaQuiteria.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom; /* move a imagem para baixo */
    overflow: hidden;
    
}

.passaro{
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
 
    
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda{
    height: 30px;
    width: 130px;
    background: linear-gradient(#639301, #A5E82E);
    border: 2px solid black;
}

.barreira .corpo{
    height: 150px;
    width: 110px;
    background: linear-gradient(#639301, #A5E82E);
    border-left: 2px solid black;
    border-right: 2px solid black;

}
.progresso{
    position: absolute;
    top: 10px;
    right: 0px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;
}
.autoria{
    position: relative;
    align-items: center;
}